@import "reset.css";

div {
  position: absolute;
  width: 125px;
  height: 120px;
  top: 40%;
  left: 45%;
  background-color: whitesmoke;
}

span {
  margin: auto;
  line-height: 20px;
}

.on {
  background-color: lightgray;
}
